.tooltipWrapper {
  position: relative;
  display: inline;

  &:hover {
    color: var(--text-color);
  }
}

.tooltipContainer {
  background-color: var(--bg-color);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  border-radius: 4px;
  padding: 4px;
  width: min(calc(100vw - (var(--page-padding) * 2)), 40rem);
  position: absolute;
  top: 2em;
  left: 0;
  z-index: 100;
}

.image {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
