$content-width: clamp(
  calc(320px - (16px * 2)),
  calc(100vw - (16px * 2)),
  80rem
);

.notes {
  padding: 7.5vh calc((100% - #{$content-width}) / 2) 15vh
    calc((100% - #{$content-width}) / 2);

  & > a {
    margin-bottom: 7.5vh;
  }

  & > p,
  blockquote p,
  li,
  li > p,
  cite {
    font-size: 1.6rem;
    line-height: 170%;
  }

  dd {
    margin: 8px 12px 16px 12px;
    font-size: 1.4rem;

    p {
      font: inherit;
      color: inherit;
    }
  }

  & > p,
  li {
    font-family: var(--sans-type);
    color: var(--secondary-text-color);

    a {
      color: var(--text-color);

      &:hover {
        color: var(--starcourt-blue);
      }
    }
  }

  address {
    display: inline;
    font-style: normal;
  }

  em {
    color: var(--text-color);
  }

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;

    &:not(:first-of-type) {
      margin-top: 4rem;
    }
  }
}
